<p>Задача полягає в повному відтворенні функціоналу цієї сторінки. Ця сторінка виконує роль записної книжки для відображення таблиці клієнтів. 
	Ви можете додавати нових клієнтів, видаляти існуючих клієнтів, а також сортувати таблицю. 
	Отримувати клієнтів з JSON, та відправляти їх в JSON. При виконанні завдання ми не використовуємо декоратори </p>
	<hr>
	<p>Ваш <code>app.component.html</code> має бути таким:</p>
	<pre>
		&lt;div class="main-container"&gt;
			&lt;app-header&gt;&lt;/app-header&gt;
			&lt;app-info&gt;&lt;/app-info&gt;
			&lt;app-form&gt;&lt;/app-form&gt;
			&lt;app-table&gt;&lt;/app-table&gt;
			&lt;app-sender&gt;&lt;/app-sender&gt;
			&lt;app-footer&gt;&lt;/app-footer&gt;
		&lt;/div&gt;
	</pre>
	<pre><code></code></pre>